.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.logo img {
  width: 65px;
  height: 65px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
}
